# Composer
/vendor/
/composer.lock

# PHPStorm
/.idea/
/*.iml

# Node
/node_modules/
/npm-debug.log
/yarn-error.log

# Logs
*.log

# Environment variables
.env

# Symfony
/var/
/public/bundles/
/config/jwt/
/translations/
/phpunit.xml
/phpunit.xml.dist

# Cache
/cache/
/tmp/

# Coverage
/coverage/

# Other
.DS_Store
Thumbs.db
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
