# Composer
/vendor/
/composer.lock

# PHPStorm
/.idea/
/*.iml

# Node
/node_modules/
/npm-debug.log
/yarn-error.log

# Logs
*.log

# Environment variables
.env

# Symfony
/var/
/public/bundles/
/config/jwt/
/translations/
/phpunit.xml
/phpunit.xml.dist

# Cache
/cache/
/tmp/

# Coverage
/coverage/

# Other
.DS_Store
Thumbs.db
