{% extends 'layout.html.twig' %}

{% block content %}
    <div class="hero">
      <div class="container">
        <h1 class="display-5 fw-bold centre">
          CGU / Politique de confidentialité
        </h1>
      </div>

      <!-- Main Content -->
      <div class="container my-5">
        <h2>entreprise-edi</h2>
        
      </div>
    </div>
{% endblock %}

