<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <h1>Bienvenue, {{ username }} !</h1>
    <a href="/">
        <button>Retour edc à l'accueil</button>
    </a>
</body>
</html>